.workspaces_main{
    overflow: auto;
    font-size: 20px;
}

.workspaces{
    width: 100%;
    text-align: left;
}

tbody{
    overflow-x: hidden;
    overflow-y: auto;
}

th, td{
    padding: 16px 4px 16px 4px;
}

tr{
    cursor: pointer;
}

span{
    text-decoration: underline;
}